.body{
    position: absolute;
}

.menu{
    
    right: -950px;
    position: relative;
    border: solid black 2px;
    display: flex;
    width: 140px;
    background-color: black;
}
.menu span{
    color: aliceblue;
}
.precios{
    margin-left: 25px;
    

}
button{
    width: 60px;
    height: 30px;
    background-color: rgba(81, 81, 245, 0.76);
    color: white;
}

.form{
    background-color: rgba(121, 121, 245, 0.658);
    width: 450px;
    margin: 0 auto;
    position: relative;
    top:10px;
}

.tot{
    position: relative;
    left: 450px;
}
#total{
    position:relative;
    left: 445px;
}

